<%- include("partials/head", {styles: ['styleDetalleProducto', 'style-carrito']}) %>
<body>
    <%- include("partials/header") %>
    <main>
        <div class="conteiner">
            <div class="conteiner-imagenes">
                <div id="conteiner-image-principal">
                    <img src="/images/products/<%- ArtWorks.img %>">
                </div>
            </div>
            <div class="conteiner-info">            
                <h2><%- ArtWorks.name %></h2>
                <p>$ <%- ArtWorks.prices %></p>
                <p ><%- ArtWorks.description %></p>
            </div>
        </div>
        <div>
            <button class="botones"><a href="edit/<%= ArtWorks.id %>">Editar producto</a></button>
            <button class="botones"><a href="delete/<%= ArtWorks.id %>">Eliminar producto</a></button>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>

</html>