<%- include("partials/head", {styles: ['ingreso','style-carrito']}) %>
<body>
    <%- include("partials/header") %>
    <main class="main-carrito">
        <form action="/user/update/<%= User.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <h1>Modifica tus datos <%= User.first_name %></h1>
            <div class="container">
                <div class="form-container">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="first_name" value="<%= User.first_name %>" id="nombre">
                    <% if (locals.errors && errors.first_name) { %>
                        <div class="text-danger">
                            <%= errors.first_name.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form-container">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="last_name" value="<%= User.last_name %>" id="apellido">
                    <% if (locals.errors && errors.last_name) { %>
                        <div class="text-danger">
                            <%= errors.last_name.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form-container">
                    <label for="email">Correo electronico</label>
                    <input type="email" name="email" value="<%= User.email %>" id="email">
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>
                <div class="form-container">
                    <label for="postal_code">Código Postal</label>
                    <input type="text" name="postal_code" value="<%= User.postal_code %>" id="postal_code">
                </div>
                <div class="form-container">
                    <label for="adress">Direccion</label>
                    <input type="text" name="adress" value="<%= User.adress %>" id="adress">
                </div>
                <div class="form-container">
                    <label for="phone">Telefono</label>
                    <input type="text" name="phone" value="<%= User.phone %>" id="phone">
                </div>
                <div class="form-container">
                    <label for="img">Foto de perfil</label>
                    <input type="file" name="img" value="<%= User.img %>" id="img">
                </div>
            </div>
            <div class="boton-carrito">
                <button class="button-ingreso" type="submit">
                    Guardar cambios
                </button>
            </div>
        </form>
    </main>
    <%- include("partials/footer") %>
</body>
</html>