<%- include("partials/head", {styles: ['styles-home', 'style-carrito']}) %>
<body>
    <%- include("partials/header") %>
    <main>
        
        <h2>OBRAS DISPONIBLES</h2>
        <div class = "articulos">
            <% locals.ArtWorks && ArtWorks.forEach ( (obra) => { %>                   
                <div class="articulo">
                    <a href="products/<%= obra.id %>">
                    <img src="/images/products/<%- obra.img %>">
                    <p><%- obra.name %></p>
                    <p>$<%- obra.prices %></p>
                    </a>
                </div>
            <% }) %>
        </div>
    </main>
    <a href="products/register">Crear un nuevo producto</a>
    <hr>
    <%- include("partials/footer") %>
</body>
</html>